@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';

.blog__container {
    background-color: $blogBkg;
    padding-bottom: 100px;
}

.blog__banner {
    text-align: center;
    max-width: 1325px;
    margin: 0 auto;
    padding: 200px 20px 100px 20px;

    @include respond(xl) {
        padding: 200px 0 100px 0;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 25px;

        @include respond(lg) {
            font-size: 100px;
        }
    }

    p {
        font-size: 18px;
        color: $mainGrey;
        font-weight: 300;

        @include respond(md) {
            width: 80%;
            margin: 0 auto;
        }
    }
}

.blog__items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    max-width: 1325px;
    margin: 0 auto;

    @include respond(md) {
        padding: 0 80px;
    }

    @include respond(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    @include respond(xl) {
        padding: 0;
        gap: 70px;
    }
}

.blog__item {
    @include respond(lg) {
        display: flex;
        flex-direction: column;
    }
    
    h2 {
        font-size: 38px;
        margin-bottom: 15px;
    }

    p {
        font-size: 18px;
        color: $mainGrey;
        font-weight: 300;
        margin-bottom: 30px;

         @include respond(lg) {
            margin-bottom: auto;
        }
    }

    iframe {
        width: 100%;
        height: 200px;

        @include respond(md) {
            height: 400px;
            margin-top: 30px;
        }
    }
}

//lets connect

.lets-connect {
    position: relative;
    // background-image: url('/assets/images/drivers/blog/blog-contact.jpg');
    min-height: 40dvh;
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(180deg, #fbf9f4 0%, rgba(251, 249, 244, 0) 80%), url('/assets/images/drivers/blog/blog-contact.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(lg) {
        justify-content: flex-start;
    }
}

.lets-connect__content-wrapper {
    
    padding: 0 20px;

    @include respond(lg) {
        padding: 0 80px;
    }

    @include respond(xl) {
        max-width: 1325px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 20px;

        @include respond(md) {
            font-size: 32px;
        }

        @include respond(lg) {
            font-size: 45px;
        }
    }

    p {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .secondary-button {
        font-size: 18px;
        width: 250px;
        display: block;
        margin: 0 auto;

         @include respond(lg) {
            margin: 0;
        }
    }
}
