<app-drivers-header></app-drivers-header>
<div class="blog__container">
    <section class="blog__banner">
        <h1>It’s About People</h1>
        <p>
            We don’t just drive. We share our life stories. We try to help and stand up for each other.
            There is nothing we cannot achieve as a team if we share a sense of purpose.
        </p>
    </section>
    <section class="blog__items-wrapper">
        <div class="blog__item">
            <h2>Logan H.</h2>
            <p>Great people almost never talk about themselves. Logan’s wonderful personality and true professionalism come to mind when we speak of him. Here’s some tips for young drivers!</p>
            <div class="blog__item-video-wrapper">
                <iframe src="https://www.youtube.com/embed/Az4k2U3y0aI?si=xpvXwtIFCgzn-L6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="blog__item">
            <h2>Wakerah M.</h2>
            <p>When her daughter asked about the reason she was driving a truck, she replied, “So mommy can be the boss.” What a strong message! And, yes, we fully support it!</p>
            <div class="blog__item-video-wrapper">
                <iframe src="https://www.youtube.com/embed/i9i1IF2zXNQ?si=WAvwT9PilSX56Zsu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="blog__item">
            <h2>Marquise F.</h2>
            <p>Although there are ups and downs in trucking, stay positive and cheerful. In tense moments, remain calm. These are some pointers that Marquise showed us.</p>
            <div class="blog__item-video-wrapper">
                <iframe src="https://www.youtube.com/embed/HG8yD2QPH8M?si=dBcrmHTCiWBHou2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="blog__item">
            <h2>New! New! New!</h2>
            <p>Let’s wrap it up like a piece of candy! Every year, we add brand new trucks to our fleet, ready for our drivers to start the engine!</p>
            <div class="blog__item-video-wrapper">
                <iframe src="https://www.youtube.com/embed/I8EIxa_OrLI?si=TyXoI35urVvduRTa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="blog__item">
            <h2>Markeiya T.</h2>
            <p>Someone once said that women shouldn’t drive trucks. Everyone should reconsider because Markeiya is constantly defying stereotypes! We’re here to promote positive change.</p>
            <div class="blog__item-video-wrapper">
                <iframe src="https://www.youtube.com/embed/vrqYGTJtQUk?si=bxi9x-d57yhNIASv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="blog__item">
            <h2>Frank A.</h2>
            <p>You are aware of the great mix of Old School driving and consistently fresh enthusiasm. It means driving a truck with a high level of safety and awareness, like Frank does.</p>
            <div class="blog__item-video-wrapper">
                <iframe src="https://www.youtube.com/embed/vjiDALU1qWY?si=z7GytCcxVBbRzX2K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</div>
<section class="lets-connect">
    <div class="lets-connect__content-wrapper">
        <h2>Let's Connect</h2>
        <p>It’s about time to take your driving to next level.</p>
        <a class="secondary-button" href="drivers/contact">Contact Us</a>
    </div>
</section>
<app-newsletter></app-newsletter>
<app-drivers-footer-nav></app-drivers-footer-nav>
<app-footer></app-footer>