<app-drivers-header></app-drivers-header>
<div class="terms__container">
    <div class="terms__wrapper">
           <h1>Terms and Conditions</h1>
            <h2 class="subheading">1. Applicability</h2>
        <p>Stipulations mentioned in these Terms &amp; Conditions apply to all services provided by JDM Expedite Inc. (known as the Carrier in the rest of this document) across the territory of the United States.</p>
        <p>These Terms &amp; Conditions and agreed upon rate confirmation apply to all Carrier services provided by JDM Expedite Inc. to the Customer, his Shippers and Receivers. These conditions constitute the agreement between parties and are not subject to alterations.</p>
        <p>The JDM Expedite Inc. Terms &amp; Conditions will be displayed on the company website at https://jdmexpedite.com. A link to the full Terms &amp; Conditions will also be displayed in all our e-mail communication.</p>
        <p>If any of the Terms &amp; Conditions are not acceptable to the Customer, they should contact the Carrier immediately for further clarification.</p>
        <p>Sending the rate confirmation by the Customer and it’s receipt by the Carrier constitutes the Customer’s acceptance of these Terms &amp; Conditions.</p>
        <p>The following must adhere to the Terms &amp; Conditions set out in this document:</p>
        <ul>
        <li>Customer</li>
        <li>Shipper</li>
        <li>Receiver</li>
        <li>Freight forwarder</li>
        <li>Other third parties</li>
        </ul>
        <p>These Terms &amp; Conditions cannot be amended by any other party other than JDM Expedite Inc.</p>
        <h2 class="subheading">2. Mileage</h2>
        <p>JDM Expedite will use <strong>PC Miler</strong> as the principal tool for determining the mileage from Point A to Point B (Practical miles; 53 ft option checked). JDM Expedite dispatch department will calculate the mileage from Zip code to Zip code as per the Rate Confirmation and on the date of the pick-up.</p>
        <h2 class="subheading">3. Carrier’s Responsibilities</h2>
        <p>Carrier will to the best of their abilities transport loads from one location to another. Carrier will not use subcontractors or deviate from the original agreement without prior consent from the Customer.</p>
        <p>Based on these Terms &amp; Conditions, the Carrier will provide the necessary equipment and personnel to complete the job.</p>
        <p>Carrier will provide Proof of Delivery (POD) to the Customer within 24 hours of the load being unloaded.</p>
        <p>Carrier will promptly respond to any 3rd party requests for paperwork including the POD, invoice and Bill of Lading (BOL).</p>
        <p>Each load the Carrier accepts must be accompanied by a Bill of Lading and Shipper’s load sheet which will include the IN and OUT times of the driver at the pick-up and delivery.</p>
        <p>JDM Expedite Inc. drivers are obligated to check the validity of the received BOL’s as well as the load sheets.</p>
        <p>All parties serviced by the Carrier agree that the BOL must include the load sheet, list of goods and their quantity, locations for pick-up(s) and delivery and any other information required by the Shipper.</p>
        <p>Carrier is responsible for maintaining a valid insurance policy for: (A) Cargo insurance with a minimum limit of $100,000 per load (B) Automotive Liability insurance with a minimum $1,000,000 liability combined for property and bodily damage (C) General liability minimum $1,000,000 per load (D) Worker’s compensation insurance set out by the federal and state laws (E) Any other insurance required by the Department of Transportation (DOT).</p>
        <p>Carrier agrees to assume liability for all goods they are transporting during the time of transport between the Pick-up and Delivery in case of an accident.</p>
        <p>JDM Expedite Inc shall only employ drivers who previously went through a comprehensive training program required by the Federal Motor Carrier Safety Regulations (FMCSR) as written in the 49. C.F.R. parts 390 through 397.</p>
        <p>Carrier shall have a minimum of two ratchet straps in their trailers. If more straps or load bars are needed, the Customer will carry the cost of the said equipment. The cost of the extra straps will be added to the Rate Confirmation.</p>
        <h2 class="subheading">4. Customer’s Responsibilities</h2>
        <p>Customers are duty bound to inform the Carrier about the origin and destination as well as any intermittent drops of all loads.</p>
        <p>Furthermore, the Customer must notify the Carrier of any special shipping instructions including use of special equipment, driver assist and the value of the load if it exceeds the value agreed upon.</p>
        <p>Customer must pay the Carrier’s invoice within 30 days of the receipt of POD and BOL, unless the Carrier and Customer have agreed a Quick pay agreement.</p>
        <p>If the Customer fails to pay the invoice within the allotted 30 days, Carrier will seek payment from the Shipper or other third parties deemed responsible after giving the Customer a 30-day written notice.</p>
        <p>In case of further delay of payment, the Carrier will issue a Letter of Demand to the Customers trustee in order to get paid. The Carrier therefore requires the Customer to be bonded in the state of Illinois in case the need for recovering a debt arises.</p>
        <p>All Parties agree that the Customer is not responsible for hauling the load which is the sole responsibility of the Carrier.</p>
        <h2 class="subheading">5. Rate Confirmation</h2>
        <p>A rate confirmation is the most important document and it serves as a contract between the Carrier and the Customer pertaining to the load being booked. Every confirmation must contain the following information:</p>
        <ul>
        <li>Full name, address and contact details of the Customer who booked the load.</li>
        <li>Load number</li>
        <li>Type of commodity and style of packaging.</li>
        <li>Weight of the load in lbs.</li>
        <li>Agreed rate for hauling the load</li>
        <li>Pickup details including the full name of the Shipper and a correct address together with the name of the contact person and their phone number. Date and time of the pickup must also be displayed and correct.</li>
        <li>Correct pickup number.</li>
        <li>Delivery details including the full name of the Receiver and a correct address together with the name of the contact person and their phone number. Date and time of the delivery must also be displayed and correct.</li>
        <li>Delivery number if applicable.</li>
        <li>Driving directions if a location is not easily accessible.</li>
        <li>Any specifics about the load like longer than average time of loading/unloading, lumpers etc.</li>
        </ul>
        <p>Carrier will not dispatch the driver until they get a valid rate confirmation.</p>
        <p>Customer agrees that a VERBAL AGREEMENT can be used as a rate confirmation by using recorded communication. For instance, let’s say the rate confirmation shows that the DEL appt is 10:00 and the Customer said on the phone that the load can be delivered later and be a work-in. Later that turns out to be not true. In this case the Customer will pay the incurred costs to the Carrier per the rates in these Terms &amp; Conditions.</p>
        <h2 class="subheading">6. Payment</h2>
        <p>Customer is responsible for paying the Carrier in accordance to the rates and charges set out in the agreed Rate Confirmation.</p>
        <p>Carrier must send the BOL and POD together with the invoice within 24 hours of completing the delivery.</p>
        <p>Customer must pay the invoice sent by the Carrier within 30 days of receipt.</p>
        <p>6.1 Proof of delivery<br />The Carrier will provide the Customer with the POD within 24 hours of the completed delivery. Should the Customer require a copy of the BOL, the Carrier will e-mail the Customer a copy free of charge.</p>
        <p>If the Customer needs a hard copy of the BOL, the Carrier will mail the Customer a copy for a standard charge of $15. In case the Customer needs an original, one will be mailed for a charge of $30.</p>
        <p>6.2 Unpaid bills<br />Failure to pay within the 30 days period will incur additional fees:</p>
        <ul>
        <li>A $15 fee for invoices sent each month after the first one</li>
        <li>An interest of 1.5% of the total freight bill for each month after the first invoice was issued and the 30-day payment period has passed.</li>
        <li>Any costs associated with recovering unpaid invoices including attorney, court or past due bills collection charges.</li>
        </ul>
        <p>6.3 Letter of demand<br />Carrier requires the Customer to be bonded in the state of Illinois in case any claims for non-payment need to be filed.</p>
        <p>A so-called Surety Bond is issued by an Insurance company and will be part of the Customer’s documentation. The Federal rules ask for a minimum bond of $10,000 up to a maximum $75,000.</p>
        <p>Carrier must provide all necessary documents in order to file a claim against a bond. These must include the Rate Confirmation and any written communication between the parties. The documents will accompany the Letter of Demand from the Carrier.</p>
        <p>6.4 Additional costs<br />If at any point the Carrier incurs additional costs which were not defined by the Rate Confirmation, the Customer will be charged a 100% of the amount of these extra costs. These include:</p>
        <ul>
        <li>Use of a lumper at the Shipper or Receiver</li>
        <li>Repairs made to the truck or trailer caused by the fault of the Shipper or Receiver.</li>
        <li>Replacements of tires damaged at the Shipper or Receiver.</li>
        <li>Special requirements by the Customer, Shipper or receiver.</li>
        <li>Washing out the trailer if the previous load has made it necessary to do so.</li>
        <li>Detention[1]</li>
        <li>Layover/TONU</li>
        <li>Diverting from a pre-agreed route</li>
        <li>Extra pick-ups or drops</li>
        </ul>
        <p>6.5 Detention<br />All shippers and receivers are given two hours of “free time” by the Carrier where they can load or unload the truck within two hours of the driver checking in.</p>
        <p>Every subsequent hour will count as detention and will be charged at the rate of $70 for each hour. This rate is subject to an agreement between the Customer and the Carrier. If the detention continues into the next working day (past midnight), the Customer will pay the Carrier a full layover fee in the amount of $750.</p>
        <p>6.6 Truck order not used (TONU)<br />TONU – If the Customer fails to notify the Carrier about cancelling the load a minimum 12 hours before the pick-up, and the driver is under a 100 miles out from the Shipper, the Customer agrees to pay the Carrier a Truck Order Not Used (TONU) fee in the amount of $400.</p>
        <p>If a driver is more than 100 miles out at the time of receiving a TONU, the Customer will pay the Carrier $500.</p>
        <p>6.7 Dropped trailers<br />The Carrier doesn’t normally drop trailers at the delivery location unless this was agreed with the Customer at the time of negotiating the Rate Confirmation. However, if the trailer is “dropped” for more than 4 hours at the facility, the Customer must cover the costs of this deviation to the rate agreement with the Carrier.</p>
        <p>If the trailer is dropped at the facility for up to 24 hours, the Carrier will charge a fee of $250. If the trailer must stay at the delivery location for more than one day, the Carrier will have to go and pick up another trailer from our terminal in Alsip, IL.</p>
        <p>For the trip to our terminal and the subsequent recovery of the dropper trailer, the Customer will be charged at a rate of $2.50 per mile for every mile driven by the carrier from and back to the delivery location.</p>
        <p>Should it for some reason become necessary for the Carrier to drop a trailer for more than 24 hours or more at the pick-up which is more than 200 miles from the Carrier’s Head Office (based on the official information from the FMCSA website), the Customer will pay the Carrier $750 for every 24 hours of waiting.</p>
        <h2 class="subheading">7. Loading and Unloading</h2>
        <p>7.1 Pickup<br />Carrier will PICK UP the load at the origin point provided by the Rate Confirmation. This involves the following actions:</p>
        <ul>
        <li>Checking into the facility on time.</li>
        <li>Backing up to the door assigned by the facility and opening the doors of the trailer.</li>
        <li>Waiting in the cab or an assigned room at the facility for the goods to be loaded.</li>
        <li>Check the goods have been loaded safely and making sure the seal was applied to the doors.</li>
        <li>Checking that the Shipper has put in the correct IN and OUT times on the loading sheet and the BOL</li>
        <li>Making sure the pickup and delivery addresses on the BOL correspond to the ones on the Rate Confirmation.<br />Leaving the facility safely.</li>
        </ul>
        <p>7.2 Delivery<br />Carrier will DELIVER the load at the assigned destination and follow these steps:</p>
        <ul>
        <li>Checking in at the receiving facility.</li>
        <li>Backing up the dock and opening the trailer doors after the Receiver has broken the seal.</li>
        <li>If possible, checking the state of the load at delivery before it is unloaded.</li>
        <li>Waiting in the cab or an assigned room at the facility for the goods to be unloaded.</li>
        <li>After the unload checking that all the goods have been taken out and that no damage to the trailer has been made.</li>
        <li>In case of any claims, filling out the Claims form and signing it.</li>
        <li>Reporting the claim to the dispatcher.</li>
        <li>Getting all the paperwork signed with the correct IN and OUT times written on the BOL</li>
        </ul>
        <p>JDM Expedite drivers are required to be present during the closing of the trailer doors after loading at the Shipper for inspection of the loaded goods and the proper application of a seal or seals.</p>
        <p>Drivers are also required to be present during the opening of doors at the Receiver to check the seals were intact before breaking them and ascertain the state of the load unless this is not made possible by the Receiver for safety purposes.</p>
        <p>7.3 Driver assist<br />Carrier has a strict policy of not allowing their drivers to assist during loading and unloading of goods. Any exception to this rule would have to be verbally confirmed by the driver and the rate set in the rate confirmation before hand.</p>
        <p>JDM Expedite will charge the Customer $250 for each hour the driver has to assist with loading or unloading.</p>
        <h2 class="subheading">8. Deviations from the Route</h2>
        <p>Customers agree to provide the Carrier with correct locations for pick-up and delivery. If the addresses turn out to be wrong, the Carrier will charge the Customer with additional movement at the following rates:</p>
        <ul>
        <li>Up to 5 miles from the give location – no charge</li>
        <li>5-10 miles from the given location – $50</li>
        <li>10-30 miles from the given location – $100</li>
        <li>More than 30 miles from the given location – a $100 plus extra $2.50 for each mile</li>
        </ul>
        <p>8.1 Extra stops<br />The Rate Confirmation will provide the Carrier with the pickup and delivery locations as well as the location of any extra stops. For any extra stops, the Carrier will charge the following fees:</p>
        <ul>
        <li>Two or more pickups within the same facility – $50 per pickup</li>
        <li>Stops which are 50 miles one from another a $75 for each stop</li>
        <li>Stops which are more than 50 miles from one another $100 for each such stop</li>
        </ul>
        <h2 class="subheading">9. Limitations of Size and Weight</h2>
        <p>JDM Expedite Inc. will haul loads of up to $42,000 lbs. in weight. The shipper must load the goods in such a manner where the truck and trailer axles are not put under the weight which is more than the federally mandated value.</p>
        <p>If the Shipper overloads the trailer the Carrier will have to check the weight of the load at a scaling facility. Customer will be charged for any miles to and from the scaling facility at a rate of $2/mile. In case the shipment is overweight, the Shipper must restock the load. Time spent at the shipper getting restocked will be charged at a rate of $100 an hour.</p>
        <p>If the restocking lasts past midnight on the day of loading the Carrier will charge the Customer with a $250 layover. If the facility closes and will not open until the next day, the layover charge will be $750. The time for restocking will count from the time the driver left the shipper (the “OUT” time written on the BOL or/and the load sheet).</p>
        <p>The Customer must make sure the Carrier receives copies of all scaling tickets produced by scaling the truck at the Shipper or Receiver locations.</p>
        <h2 class="subheading">10. Appointments</h2>
        <p>Carrier is obligated to respect the appointments set out by the Rate Confirmation agreement. Failure to do so may incur charges by the Customer.</p>
        <p>Customer is obligated to make sure the appointments have been confirmed by the Shippers and Receivers. Any deviation from the appointments will cause a delay in Carrier’s operations.</p>
        <p>Example: If the Carrier is not loaded at the appointed time at the Shipper, this will create a Domino effect all the way to the actual delivery of goods. Being loaded late at the shipper will cause the Carrier to lose more hours ON DUTY and give us less driving time.</p>
        <p>Every hour late means that we may be late at the delivery by the same amount. In this case and cases of detention, the Customer agrees to set another appointment for deliver and carry any possible charges incurred from the Receiver.</p>
        <h2 class="subheading">11. Claims</h2>
        <p>11.1 Seals<br />All shippers must seal the doors of the trailer after loading. Carrier agrees not to remove the seal until they reach the receiver and the seal is removed by them.</p>
        <p>Any discrepancy with the quantity of transported goods will be settled between the Shipper, Receiver and the Customer.</p>
        <p>Carrier will bear no responsibility for any shortages when the trailer has been sealed at the Shipper. Carrier will not break the seal during transport.</p>
        <p>An <strong>exception</strong> to this is when a member of the Law Enforcement asks the driver to break the seal and open the doors. In this case, the Carrier will bear no liability for any shortages or damages.</p>
        <p>11.2 Overs, shorts and damages (OS&amp;D)<br />In the event the goods don’t match the BOL, and there are either overs, shortages or damages, the Carrier will fill out a special Overs, shortages and Damages (OS&amp;D) form which will identify the items in question. The Receiver and the Customer will subsequently provide the Carrier with a solution to these claims.</p>
        <p>If the load was sealed at the Shipper, the Carrier is not automatically liable for any claims. Any such liability must be proven without exception.</p>
        <p>The Customer has up to six months to file any cargo claims. Carrier will respond to any claims within 30 days of a written receipt. After performing an investigation into the claim, the Carrier will respond to the Customer.</p>
        <p>Should there be any items on the delivery which are not on the BOL and are overs, the Customer must provide the Carrier with a solution to this claim and:</p>
        <ul>
        <li>Either leave the said items with the Receiver</li>
        <li>Or Find a facility nearby (up to 10 miles) where the Carrier will drop off the load and charge the Customer a fee of $100.</li>
        <li>Propose a facility which is more than 10 miles away in which case the Carrier will charge the Customer at the following rates:<br />- Up to 100 miles from the Receiver – $200<br />- Between 100 and 300 miles from the Receiver – $450<br />- Over 300 miles from the receiver – $750</li>
        </ul>
        <p>Any claims made for damages that happened in transit will be covered by the Carrier Cargo Insurance Policy.</p>
    </div>
</div>
<app-footer></app-footer>