@import '_colors.scss';
@import '_breakpoints.scss';

.terms__container {
    background-color: $softwareSectionBkg;
    color: $mainWhite;
    
}

.terms__wrapper {
    padding: 200px 20px;
    max-width: 1366px;
    margin: 0 auto;

    @include respond(sm) {
        padding: 200px 50px;
    }

    @include respond(xxl) {
       padding: 200px 0;
    }

    h1 {
        text-align: center;
        margin-bottom: 60px;
    }

    p, li {
        font-size: 18px;
    }
}

.subheading {
    margin: 30px 0;
    font-size: 21px;
}