@import '_colors.scss';
@import '_breakpoints.scss';
@import '_spacing.scss';
@import '_variables.scss';
@import '_typography.scss';

.drivers-banner__container {
    height: 60dvh;
    position: relative;

    @include respond(md) {
        height: 80dvh;
    }

    @include respond(lg) {
        height: 85dvh;
    }

    .drivers-secondary-button {
        max-width: 250px;
        width: 100%;
    }
}

#drivers-banner-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.drivers-banner__heading {
    color: $mainWhite;
    opacity: 0.5;
}

.drivers-banner__paragraph {
    font-size: 24px;
    color: $mainWhite;
    font-weight: bold;

    @include respond(md) {
        font-size: 42px;
    }

    @include respond(lg) {
        font-size: 62px;
    }
}

.drivers-banner__text-wrapper {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    @include respond(lg) {
        width: 100%;
    }
}