<section class="banner__clients-container">
    <h2 class="banner__clients-h2">
        A Few Words
    </h2>
    <p class="banner__clients-paragraph p-customers">
        In 2010, we started our journey. Today, with over 500 trucks and more than 1,000 trailers, we help our customers move freight across the US.
        <br>
        At JDM, we aim to use cutting-edge technology and knowledge in order to positively impact the transportation business.
    </p>
    <p>
        <strong>SOME OF OUR CLIENTS</strong>
    </p>
    <div class="banner__clients-wrapper">
        <img loading="lazy" class="banner__client-image" src="assets/images/customers/clients/amazon.png" alt="amazon logo">
        <img loading="lazy" class="banner__client-image" src="assets/images/customers/clients/ups.png" alt="ups logo">
        <img loading="lazy" class="banner__client-image" src="assets/images/customers/clients/procter-and-gamble.png" alt="png logo">
        <img loading="lazy" class="banner__client-image" src="assets/images/customers/clients/robinson.png" alt="robinson logo">
        <img loading="lazy" class="banner__client-image" src="assets/images/customers/clients/nestle.png" alt="nestle logo">
    </div>
</section>