@import '_colors.scss';
@import '_breakpoints.scss';
@import '_spacing.scss';
@import '_variables.scss';
@import '_typography.scss';

:host { display: block; }

.landing-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: $header-spacing-xs;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    @include respond(lg) {
       padding: $header-spacing-lg;
    }
}

.landing-header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include respond(xs) {
       gap: 25px;
    }
}

.logo {
    width: 90px;
    height: 50px;

    @include respond(lg) {
      width: 150px;
      height: 80px;
    }
}

.full-aplication__link {
    color: $mainWhite;
    border: 1px solid $mainWhite;
    border-radius: 4px;
    padding: 3px 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: $font-size-xs;
    opacity: 0;
    animation: appearAnim $main-animation-duration ease-out 2.5s forwards;

    &:hover {
        border: none;
    }

    @include respond(sm) {
      font-size: $font-size-sm;
    }

    @include respond(lg) {
      font-size: $font-size-lg;
      padding: 5px 23px;
    }
}

@keyframes appearAnim {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}