@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';

.customers-numbers__container {
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/images/customers/numbers/jdm-numbers-truck-photo-400x516.jpg');
    background-size: cover;
    background-position: center;

    @include respond(smd) {
        background-image: url('/assets/images/customers/numbers/jdm-numbers-truck-photo-768x432.jpg');
    }

    @include respond(md) {
        background-image: url('/assets/images/customers/numbers/jdm-numbers-truck-photo-980x551.jpg');
    }

    @include respond(lg) {
        background-image: url('/assets/images/customers/numbers/jdm-numbers-truck-photo.jpg');
    }
}

.customers-numbers__wrapper {
    width: 90%;
    margin: 0 auto;
    color: $mainWhite;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1325px;

    h2 {
        margin-bottom: 30px;
    }

    @include respond(lg) {
        width: 100%;
    }
}

.customers-numbers__number-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 60px;

    @include respond(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .customer-numbers__number-item {
        .customer-numbers__number-item-counter-wrapper {
            font-size: 80px;
            font-weight: 800;
        }
    }
}