<section class="customers-numbers__container">
    <div class="customers-numbers__wrapper">
        <h2 class="h2-customers">JDM Numbers</h2>
        <p class="p-customers">Our main goal is to keep our fleet in great shape with the latest model trucks.</p>
        <div class="customers-numbers__number-items-wrapper">
            <div class="customer-numbers__number-item">
                <span class="customer-numbers__number-item-counter-wrapper"><app-counter [targetNumber]="500"></app-counter> +</span>
                <h3 class="h3-customers customer-numbers__number-item-label">trucks</h3>
            </div>
            <div class="customer-numbers__number-item">
                <span class="customer-numbers__number-item-counter-wrapper"><app-counter [targetNumber]="1000"></app-counter> +</span>
                <h3 class="h3-customers customer-numbers__number-item-label">trailers</h3>
            </div>
            <div class="customer-numbers__number-item">
                <span class="customer-numbers__number-item-counter-wrapper"><app-counter [targetNumber]="12"></app-counter> +</span>
                <h3 class="h3-customers customer-numbers__number-item-label">experience</h3>
            </div>
        </div>
    </div>
</section>