<section>
    <div class="footer__nav-section">
        <div class="nav-section__wrapper">
            <div #slideUp class="nav-section__item slide-up-1">
                <img loading="lazy" class="footer__logo" src="assets/images/jdm-logo-white.png" alt="JDM logo">
                <p class="nav-section__text mb-20">
                    JDM EXPEDITE INC.
                    <br>
                    8100 47th St. LYONS, IL
                    <br>
                    708 942 4585, ext. 4
                </p>
                <p>
                    YOUR NUMBER <strong>ONE TRUCKING SOLUTION</strong>
                </p>
            </div>
            <div #slideUp class="nav-section__item slide-up-2">
                <h4 class="nav-section__item-heading">
                    Contractors
                </h4>
                <ul class="nav-section__list">
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/owner-operators">Owner Operators</a>
                    </li>
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/rent-equipment">Rent a Truck</a>
                    </li>
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/rent-equipment">Rent a Trailer</a>
                    </li>
                </ul>
            </div>
            <div #slideUp class="nav-section__item slide-up-4">
                <h4 class="nav-section__item-heading">
                    Company Drivers
                </h4>
                <ul class="nav-section__list">
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/solo">Solo Drivers</a>
                    </li>
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/team/">Team Drivers</a>
                    </li>
                </ul>
            </div>
            <div #slideUp class="nav-section__item slide-up-3">
                <h4 class="nav-section__item-heading">
                    Quick Links
                </h4>
                <ul class="nav-section__list">
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers">All Drivers</a>
                    </li>
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/rent-equipment">Truck Rentals</a>
                    </li>
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/dedicated-lanes">Dedicated Lanes</a>
                    </li>
                    <li class="nav-section__list-item">
                        <a class="nav-section__list-item-link" href="/drivers/rent-equipment">Rent Equipment</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__terms-container">
        <div class="terms__wrapper">
            <div #termsItem class="terms__text-wrapper slide-from-left">
                <p>JDM is renting trucks from third party company.</p>
            </div>
            <div #termsItem class="terms__links-wrapper slide-from-right">
                <a class="terms__link" href="drivers/terms-of-condition">Terms & Conditions</a>
                <a class="terms__link" href="drivers/privacy-policy">Privacy & Policy</a>
            </div>
        </div>
    </div>
</section>