@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';


.lanes__banner {
    min-height: 100dvh;
    position: relative;

    #lanes-video {
        height: 100dvh;
        width: 100%;
        object-fit: cover;
    }

    .banner-overlay {
            background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 3.33%, rgba(0, 0, 0, 0.98) 6.66%, rgba(0, 0, 0, 0.95) 9.99%, rgba(0, 0, 0, 0.91) 13.32%, rgba(0, 0, 0, 0.87) 16.65%, rgba(0, 0, 0, 0.82) 19.98%, rgba(0, 0, 0, 0.77) 23.31%, rgba(0, 0, 0, 0.72) 26.64%, rgba(0, 0, 0, 0.67) 29.97%, rgba(0, 0, 0, 0.62) 33.3%, rgba(0, 0, 0, 0.58) 36.63%, rgba(0, 0, 0, 0.55) 39.96%, rgba(0, 0, 0, 0.52) 43.29%, rgba(0, 0, 0, 0.5) 46.62%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 1, 2, 0.51) 53.33%, rgba(0, 3, 9, 0.52) 56.66%, rgba(0, 7, 21, 0.55) 59.99%, rgba(0, 12, 36, 0.59) 63.32%, rgba(0, 18, 54, 0.63) 66.65%, rgba(0, 25, 75, 0.68) 69.98%, rgba(0, 32, 96, 0.73) 73.31%, rgba(1, 39, 118, 0.78) 76.64%, rgba(1, 46, 139, 0.83) 79.97%, rgba(1, 53, 161, 0.88) 83.3%, rgba(1, 59, 178, 0.92) 86.63%, rgba(1, 64, 193, 0.95) 89.96%, rgba(1, 68, 205, 0.98) 93.29%, rgb(1, 70, 212) 96.62%, rgb(1, 71, 214) 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
    }
}

.lanes__banner-text-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mainWhite;
    text-align: center;

    h1 {
        margin-bottom: 30px;
        font-size: 50px;

        @include respond(lg) {
            font-size: 100px;
            animation: slideUp $main-animation-duration ease-out forwards;
        }
    }

    p {
        font-size: 18px;
    }

    .main-button {
        width: 150px;
        font-size: 18px;
        margin: 0 auto;
        display: block;

        @include respond(lg) {
            opacity: 0;
            animation: appear $main-animation-duration ease-in $main-animation-delay forwards;
        }

        @include respond(md) {
            width: 250px;
        }
    }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//five things

.five-things__section {
    padding: 100px 30px;
    background-color: $fiveThingsBkg;
}

.five-things__wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

.five-things__heading {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;

    @include respond(md) {
        font-size: 35px;
    }

    @include respond(lg) {
        font-size: 48px;
    }
}

.five-things__main-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
}

.five-things__items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        opacity: 0;
        
        &.animate {
            animation: scaleUpFade $main-animation-duration ease-in  forwards;
        }
    }

     @include respond(xl) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.five-things__item {
    padding: 20px 10px;
    background-color: $mainWhite;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    border-radius: 6px;

    img {
        display: block;
        margin: 0 auto;
        width: 64px;
        height: 64px;
    }

    h3 {
        font-size: 23px;
        margin: 40px 0 20px 0;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
}

//section map

.lanes-map__section {
    padding: 100px 20px;
    max-width: 1366px;
    margin: 0 auto;

    @include respond(md) {
        padding: 100px 80px;
    }

    .main-button {
        font-size: 18px;
        margin: 30px auto 0 auto;
        display: block;

        @include respond(md) {
            width: 250px;
        }
    }
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    .solo-button, .team-button {
        background-color: $mainBlack;
        color: $mainWhite;
        font-size: 25px;
        padding: 20px 30px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $mainGrey;
        }

        &.active {
            background-color: $mainGrey;
        }
    }
}

.lanes__google-map {
    iframe {
        width: 100%;
        min-height: 50dvh;
    }
}

@keyframes scaleUpFade {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}