@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';

.customers-service__container {
    background-color: $customerBannerBkg;
}


.customers-service__items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    @include respond(lg) {
        row-gap: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          "item1 item2"
          "item1 item2"
          "item3 item4"
          "item3 item5"
          "item6 item6"
          "item7 item8";
    }
}

.customers-service__item {
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: none;

    &:hover {
        .overlay {
            opacity: 0.5;
        }

        .item-content__heading-wrapper {
            bottom: 130px;   // animate to final position
        }

        .item-content__paragraph {
            bottom: 10px;   // animate to final position
        }
    }

    &:nth-child(1) {
        background-image: url('/assets/images/customers/service/full-truck-load.jpg');
        background-size: cover;
        background-position: center;
        height: 340px;

        @include respond(lg) {
            height: 720px;
        }

        @include respond(xxl) {
            height: 1020px;
        }
    }

    &:nth-child(2) {
        background-image: url('/assets/images/customers/service/expedite.jpg');
        background-size: cover;
        background-position: center;
        height: 340px;

        @include respond(lg) {
            height: 720px;
        }

        @include respond(xxl) {
            height: 1020px;
        }
    }

    &:nth-child(3) {
        background-image: url('/assets/images/customers/service/trailer-pool.jpg');
        background-size: cover;
        background-position: center;
        height: 230px;

        @include respond(lg) {
            height: 720px;
        }

        @include respond(xxl) {
            height: 1020px;
        }
    }

    &:nth-child(4) {
        background-image: url('/assets/images/customers/service/dedicated.jpg');
        background-size: cover;
        background-position: center;
        height: 230px;

        @include respond(lg) {
            height: 485px;
        }

        @include respond(xxl) {
            height: 685px;
        }
    }

    //nth-child 5 is link item

    &:nth-child(6) {
        background-image: url('/assets/images/customers/service/electronic-document-integration-.jpg');
        background-size: cover;
        background-position: center;
        height: 230px;

        @include respond(lg) {
            height: 630px;
        }
    }

    &:nth-child(7) {
        background-image: url('/assets/images/customers/service/available-trucks.jpg');
        background-size: cover;
        background-position: center;
        height: 230px;

        @include respond(lg) {
            height: 363px;
        }

        @include respond(xxl) {
            height: 513px;
        }
    }

    &:nth-child(8) {
        background-image: url('/assets/images/customers/service/24-7-load-tracking.jpg');
        background-size: cover;
        background-position: center;
        height: 230px;

        @include respond(lg) {
            height: 363px;
        }

        @include respond(xxl) {
            height: 513px;
        }
    }
}

.customers-service__item-link {
    height: 230px;
    color: $mainWhite;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(xxl) {
         height: 342px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;

        @include respond(sm) {
            font-size: 26px;
        }

        @include respond(xxl) {
            font-size: 32px;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.customers-service__item-content {
    text-align: center;
    color: $mainWhite;

    .item-content__heading-wrapper {
        position: absolute;
        bottom: 0px; // start position for animation
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom $main-animation-duration ease-in-out;

        @include respond(md) {
            bottom: 10px;
        }

        .item-content__heading {
            font-weight: bold;
            font-size: 28px;

            @include respond(sm) {
                font-size: 38px;
            }

            @include respond(xxl) {
                font-size: 60px;
            }
        }

        .item-content__subheading {
            letter-spacing: 2px;

            @include respond(xxl) {
                letter-spacing: 4px;
            }
        }
    }

    .item-content__paragraph {
        position: absolute;
        bottom: -100%; // start position for animation
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom $main-animation-duration ease-in-out;
        font-size: 11px;

         @include respond(md) {
            width: 70%;
            font-size: 14px;
        }

        @include respond(xxl) {
            font-size: 16px;
        }
    }
}



//grid area

.item1 {
  @include respond(lg) {
    grid-area: item1;
  }
}

.item2 {
  @include respond(lg) {
    grid-area: item2;
  }
}

.item3 {
  @include respond(lg) {
    grid-area: item3;
  }
}

.item4 {
  @include respond(lg) {
    grid-area: item4;
  }
}

.item5 {
  @include respond(lg) {
    grid-area: item5;
  }
}

.item6 {
  @include respond(lg) {
    grid-area: item6;
  }
}

.item7 {
  @include respond(lg) {
    grid-area: item7;
  }
}

.item8 {
  @include respond(lg) {
    grid-area: item8;
  }
}


//cursor

.cursor-text {
    position: fixed;
    pointer-events: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    z-index: 10001;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: none !important;
        
    &.visible {
        display: none !important;
    }

    @include respond(lg) {
        display: none !important;

        &.visible {
            display: block !important;
        }
    }
}

.cursor-bg {
    position: fixed;
    pointer-events: none;
    width: 150px;
    height: 150px;
    background: $mainBlueNew;
    border-radius: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    display: none !important;
        
    &.visible {
        display: none !important;
    }
    

    @include respond(lg) {
        display: none !important;

        &.visible {
            display: block !important;
        }
    }
}