@import '_colors.scss';
@import '_breakpoints.scss';
@import '_spacing.scss';
@import '_variables.scss';
@import '_typography.scss';

.bkg-white {
  background-color: $mainWhite !important;
  

  .operating__text-wrapper {
    color: $mainBlack;
  }
}

.operating-area__section {
    background-color: $operationAreaBkg;
    padding: 50px 20px;
}

.location {
    position: absolute;
    top: 23%;
    right: 20%;

    @include respond(md) {
        top: 27%;
        right: 27%;
    }

    @include respond(xl) {
        top: 28%;
        right: 30%;
    }

    @include respond(xxl) {
        top: 28%;
        right: 35%;
    }

    @include respond(qhd) {
        top: 28%;
        right: 39%;
    }

    span {
        font-size: 50px;
        color: $mainWhite;

        @include respond(md) {
            font-size: 60px;
        }
    }
}

.operating__image-wrapper {
    position: relative;

    img {
        margin: 0 auto;
    }
}

.operating__text-wrapper {
    text-align: center;
    color: $mainWhite;
    max-width: 800px;
    margin: 0 auto;

    .h2-drivers {
        margin-bottom: 40px;
        opacity: 0;

        &.animate {
            animation: appear $main-animation-duration ease forwards;
        }
    }

    .p-drivers {
        margin-bottom: 40px;
    }
}

.switch-text {
    color: $mainWhite;
    font-size: 18px;
}

.operating__label-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 70px;

    .label-box {
        width: 20px;
        height: 20px;
        background-color: $mainBlueNew;
    }

    .label-text {
        color: $mainWhite;
        font-size: 18px;
        color: $mainBlueNew;
        font-weight: 500;
    }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//SLIDER

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $operationAreaBkg;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $mainBlueNew;
}

input:focus + .slider {
  box-shadow: 0 0 1px $mainBlueNew;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}