<section class="customers-banner__container">
    <div class="banner__video-wrapper">
        <video loop autoplay muted playsinline preload="auto" id="customers-banner-video">
            <source src="assets/images/customers/banner/customers-banner-video.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="banner__video-text-wrapper">
            <h4 class="banner-h4 text-up-slide-animation">
                <span>CUSTOMERS</span>
            </h4>
            <h1 class="banner-h1 mb-10 text-up-slide-animation">
                <span>Let's Grow</span>
            </h1>
            <h1 class="banner-h1 text-up-slide-animation">
                <span>Together</span>
            </h1>
            <div class="video-text__get-started-wrapper">
                <a class="get-started-link">GET STARTED</a>
                <div class="video-text__get-started-text-box">
                    People are the heart of business. The core of what we do is our team of passionate experts. Every stage of the transportation process is managed round the clock. 
                </div>
            </div>
        </div>
    </div>
    <app-customer-clients></app-customer-clients>
</section>

