$breakpoints: (
  xs: 350px,
  sm: 400px,
  smd: 540px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1600px,
  hd: 1920px,
  qhd: 2560px,
);
@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: #{$breakpoint-value}) {
      @content;
    }
  }
}
