$mainWhite: #fff;
$mainBlack: black;
$mainGrey: #6B6B6B;
$mainBlueNew: #0147d6;
$mainBlueHover: #0145cf;
$mainBlueFilter: brightness(0) saturate(100%) invert(23%) sepia(100%) saturate(5788%) hue-rotate(222deg) brightness(86%) contrast(99%);

$lightBlue: #006dd2;
$darkBlue: #00176d;

$customerBannerBkg: #0f0f0f;
$customerHeaderBkg: #0b0b0b;
$orientetionBkg: #161b2d;
$operationAreaBkg: rgb(33, 33, 35);
$commentsBkg: #f4f4f4;
$discountBkg: #212123;
$driversHeaderBkg: rgba(0, 0, 0, 0.5);
$footerNavTermsBkg: #212123;
$softwareSectionBkg: #262938;
$fiveThingsBkg: #f5f9fc;
$blogBkg: #F4F6FB;

$driversHeaderHoverItem: rgba(0, 0, 0, 0.1);

$mainYellow: #ff900c;
$silver: #bdbcbc;
$inputBkg: #f7f7f7;

//drivers

$driversBlue: #2b00e6;