//landing page ( route: / )

// Base font size
$font-size-base: 1rem; // 16px

// Scale
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 1rem; // 16px
$font-size-smd: 1rem; // 16px
$font-size-lg: 1.3rem; // 20.8px (~21px)

// Headings
$font-size-main-heading-base: 1.6rem; // 25.6px (~26px)
$font-size-main-heading-xs: 1.9rem; // 30.4px (~30px)
$font-size-main-heading-sm: 2.1rem; // 33.6px (~34px)
$font-size-main-heading-smd: 4rem; // 64px
$font-size-main-heading-lg: 5rem; // 80px
$font-size-main-heading-xl: 6rem; // 96px

$font-size-h2-xs: 2.5rem; // 40px
$font-size-h2-sm: 2.8rem; // 44.8px (~45px)
$font-size-h2-smd: 3.1rem; // 49.6px (~50px)
$font-size-h2-lg: 4rem; // 64px

$font-size-h3-xs: 1rem; // 16px
$font-size-h3-smd: 1.625rem; // 26px

$font-size-h4-xs: 0.70rem; // 11px
$font-size-h4-smd: 2.25rem; // 36px

$font-size-h5-mobile: 1.25rem; // 20px

$font-size-h6-mobile: 1rem; // 16px
$font-size-h6-smd: 1.125rem; // 18px

//Customers page

$font-size-customers-h1-xs: 3.125rem; // 50px
$font-size-customers-h1-md: 6.25rem; // 100px
$font-size-customers-h1-lg: 5rem; // 80px

$font-size-customers-h2-xs: 3.125rem; // 50px
$font-size-customers-h2-lg: 6.25rem; // 100px

$font-size-customers-h3-xs: 2.5rem; // 40px
$font-size-customers-h3-lg: 3.75rem; // 60px

//Drivers

$font-size-drivers-h1-xs: 3.125rem; // 50px
$font-size-drivers-h1-md: 6.25rem; // 100px
$font-size-drivers-h1-lg: 9.375rem; // 150px

$font-size-drivers-h2-xs: 1.625rem; // 26px
$font-size-drivers-h2-sm: 2.2rem; // 34px
$font-size-drivers-h2-lg: 3rem; // 48px


//Paragraphs

$font-size-customers-p-xs: 1.125rem; // 18px

//end customers page