@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';

.owner__banner-section {
    height: 60dvh;
    position: relative;
    margin-bottom: 100px;

    @include respond(lg) {
        height: 80dvh;
    }

    @include respond(xl) {
        height: 100dvh;
    }

    #owner-banner-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-button {
        @include respond(lg) {
            max-width: 300px;
        }
    }

    .owner__banner-h1 {
        color: $mainWhite;
        margin-bottom: 30px;
        font-size: 50px;

        @include respond(md) {
            font-size: 100px;
        }

        @include respond(lg) {
            font-size: 80px;
            color: $mainBlack;
        }
    }
}

.owner__banner-text-wrapper {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @include respond(lg) {
        bottom: 0;
        left: 50px;
        transform: unset;
        width: 30%;
        text-align: left;
    }

    @include respond(xl) {
        bottom: 200px;
    }

     @include respond(qhd) {
        bottom: 300px;
        left: 200px;
    }
}

.d-lg {
    display: none;

    @include respond(lg) {
        display: block;
    }
}

.owner__showcase-box-wrapper {
    padding: 30px;
    max-width: 1366px;
    margin: 0 auto;

    @include respond(lg) {
        padding: 50px 100px;
    }
}

.owner__heading {
    text-align: center;
}

.owner__heading-wrapper {
    margin: 100px auto;
}

//owner__software-section

.owner__software-section {
    background-color: $softwareSectionBkg;
    padding: 80px 30px;

    @include respond(lg) {
        padding: 100px 80px;
    }
}

.software__wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

.software__item {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include respond(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;

        &:nth-child(odd) {
            .software__item-image-wrapper {
                order: 2;
            }

            .software__item-text-wrapper {
                order: 1;
            }
        }
    }
}

.software__item-image-wrapper {
    @include respond(lg) {
        opacity: 0;

        &.animate {
            animation: appearFromLeftAnim $main-animation-duration ease-in forwards;
        }
    }
}

.software__item-text-wrapper {
    color: $mainWhite;

    h3 {
        margin-bottom: 40px;
        font-size: 20px;

        @include respond(md) {
            font-size: 32px;
        }

        @include respond(lg) {
            font-size: 45px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 300;
    }

    .secondary-button {
        font-size: 18px;
        width: 100%;
        margin: 40px 0;

        @include respond(lg) {
            width: fit-content;
            padding: 14px 80px;
            opacity: 0;

            &.animate {
                animation: fadeIn $main-animation-duration ease-in  forwards;
            }
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearFromLeftAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
// ----end owner__software-section----