@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';


.solo__banner-section {
    height: 60dvh;
    position: relative;
    margin-bottom: 100px;

    @include respond(lg) {
        height: 80dvh;
    }

    @include respond(xl) {
        height: 100dvh;
    }

    #solo-banner-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .secondary-button {
        font-size: 18px;
        width: 100%;

        @include respond(lg) {
            display: none;
        }
    }

    .main-button {
        display: none;

        @include respond(lg) {
            display: block;
            max-width: 300px;
        }
    }

    .solo__banner-h1 {
        color: $mainWhite;
        margin-bottom: 30px;
        font-size: 50px;

        @include respond(md) {
            font-size: 100px;
        }

        @include respond(lg) {
            font-size: 80px;
            color: $mainBlack;
        }
    }
}

.solo__banner-text-wrapper {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @include respond(lg) {
        bottom: 0;
        left: 50px;
        transform: unset;
        width: 30%;
        text-align: left;
    }

    @include respond(xl) {
        bottom: 200px;
    }

     @include respond(qhd) {
        bottom: 300px;
        left: 200px;
    }
}

.d-lg {
    display: none;

    @include respond(lg) {
        display: block;
    }
}

.showcase__component-wrapper {
    margin-bottom: 100px;
}

.section-video__component-wrapper {
    margin: 150px 0;
}

.text-animate {
    @include respond(lg) {
        opacity: 0;
        animation: fadeIn $main-animation-duration ease-in  forwards;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}