<section class="way-up__section">
    <div class="way-up__wrapper">
        <div class="way-up__content-wrapper">
            <h2>All the way UP!</h2>
            <div class="way-up__paragraph-wrapper">
                <p class="mb-20">Let's make it right way. We offer our drivers help around-the-clock, and we also provide future drivers with onboarding support. Consider every question or worry you may have, and take your time with our Driver Manager to make that move go easily.</p>
                <p class="mb-20">If you're ready, let's talk!</p>
                <a href="drivers/contact" class="main-button">Contact Us</a>
            </div>
        </div>
        <div class="way-up__items-wrapper">
            <div class="way-up__item">
                <p>“The equipment is top notch. You will run east of I-35 and you rarely have to worry about sitting after a load, because your dispatcher is consistently at work booking the best freight for you to keep moving. It has been a real pleasure working alongside my dispatcher.”</p>
            </div>
            <div class="way-up__item">
                <p>
                    “The best experience is life experience. And if you’re looking to have a great experience with a trucking company that will go to bat for you, JDM is the team you want to be a part of.”
                </p>
            </div>
            <div class="way-up__item">
                <p>
                    “One of the best places to work, great Dispatch, everyone is so respectful. This company is the best, I enjoy working there. This company helps me to be successful today. You can make a lot of money if you want to work hard.”
                </p>
            </div>
        </div>
    </div>
</section>