<app-drivers-header></app-drivers-header>
<app-drivers-banner></app-drivers-banner>
<app-drivers-make-difference></app-drivers-make-difference>
<div class="slider-section__wrapper">
    <app-slider [data]="sliderData"></app-slider>
</div>
<div class="slider-section-video__wrapper">
    <app-section-with-video [data]="sectionVideoData">
        <iframe src="https://www.youtube.com/embed/Ullkwih6Q10?si=ZLxDzjb2uhE_ItCO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </app-section-with-video>
</div>

<app-operating-area [data]="operatingAreaData"></app-operating-area>
<div class="showcase-section__wrapper">
    <app-showcase-section [data]="firstShowcaseData"></app-showcase-section>
</div>
<app-comments [data]="commentsData"></app-comments>
<app-discount [data]="discountData"></app-discount>
<app-drivers-footer-nav></app-drivers-footer-nav>
<app-footer></app-footer>