<app-customers-header></app-customers-header>
<app-customers-banner></app-customers-banner>
<app-customers-numbers></app-customers-numbers>
<app-customers-service></app-customers-service>
<section class="customers-word__container">
    <div class="customers-word__wrapper">
        <h2 class="h2-customers">What Customers Say</h2>
        <div class="customers-word__items-wrapper">
            <div class="customers-word__item">
                <p class="p-customers customers-word__item-main-text">“I have been working with JDM for 6 months and have had all great experiences. JDM is safe, reliable and continues to go the extra mile to service my needs. Highly recommend!”</p>
                <p class="p-customers">
                    <strong>Carson C. – CARRIER REPRESENTATIVE</strong>
                </p>
            </div>
            <div class="customers-word__item">
                <p class="p-customers customers-word__item-main-text">“I have been working with JDM Expedite for a year. They are reliable , straight forward and always accountable. Always on time, always professional and the employees are friendly and pleasant to work with.”</p>
                <p class="p-customers">
                    <strong>Katie P. – CARRIER REPRESENTATIVE</strong>
                </p>
            </div>
            <div class="customers-word__item">
                <p class="p-customers customers-word__item-main-text">“Have done business with JDM for over a year. They’re reliable and a carrier I can always count on. I`ve not run into a service issue yet and they are outstanding in communication. One of the best large dry van carriers I’ve worked with.”</p>
                <p class="p-customers">
                    <strong>Ryan K. – CARRIER REPRESENTATIVE</strong>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="customers-work-together__container">
    <div class="customers-work-together_wrapper">
        <img loading="lazy" class="customers-work__logo" src="assets/images/jdm-logo-white.png" alt="jdm-logo">
        <h2 class="h2-customers">Let’s Work Together</h2>
        <p class="p-customers mb-15">
            We can be your reliable partner when it comes to dedicated and expedited lanes. We are able to provide to you full truck load service and trailer pool. Company strenght lies within the people. Our team of dedicated professionals is the heart of everything we do. Every step in the transportation process is taken care of 24/7/365.
        </p>
        <p class="p-customers">
            Call our representative to schedule a meeting. We’re interested in working on your project.
        </p>
        <div class="customers-word-together__buttons-wrapper">
            <a class="book-button" href="https://meetings.hubspot.com/nikola-beloica/customer-meeting-jdm?uuid=b822a786-df01-4cab-9af3-203027e5ef65" target="_blank" rel="noopener noreferrer">Book a Call</a>
            <a class="contact-button" href="customers/contact" rel="noopener noreferrer">Contact Us</a>
        </div>
    </div>
</section>
<app-footer></app-footer>