<header class="customers-header">
    <div class="customers-header__wrapper">
        <div class="logo-wrapper" [routerLink]="['/customers']">
            <img class="logo" loading="lazy" src="assets/images/logo.svg" alt="company logo">
        </div>

        <div class="customers-header__content">
            <!-- Mobile Menu Button -->
            <div class="hamburger" (click)="toggleMobileMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <nav class="menu__container" [class.open]="isMobileMenuOpen">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a class="menu__list-item-link" rel="noopener noreferrer" href="">HOME</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" rel="noopener noreferrer" href="">SEARCH POD</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" rel="noopener noreferrer" href="">SERVICES</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-item-link" rel="noopener noreferrer" href="customers/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>
</header>