@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';

.team__banner-section {
    height: 60dvh;
    position: relative;
    margin-bottom: 100px;

    @include respond(lg) {
        height: 80dvh;
    }

    @include respond(xl) {
        height: 100dvh;
    }

    #team-banner-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-button {
        font-size: 18px;
        max-width: 300px;
        width: 100%;
    }

    .team__banner-h1 {
        color: $mainWhite;
        margin-bottom: 30px;
        font-size: 50px;

        @include respond(md) {
            font-size: 100px;
        }

        @include respond(lg) {
            font-size: 80px;
            color: $mainBlack;
        }
    }
}

.team__banner-text-wrapper {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @include respond(lg) {
        bottom: 0;
        left: unset;
        right: 50px;
        transform: unset;
        width: 30%;
        text-align: left;
    }

    @include respond(xl) {
        bottom: 100px;
    }

    @include respond(qhd) {
        bottom: 500px;
    }
}

.d-lg {
    display: none;

    @include respond(lg) {
        display: block;
    }
}

.section-video__component-wrapper {
    margin: 150px 0;
}

.showcase__component-wrapper {
    margin-bottom: 100px;
}