@import '_colors.scss';
@import '_breakpoints.scss';
@import '_variables.scss';
@import '_typography.scss';

.difference__container {
    padding: 60px 15px;
}

.h2-drivers, .p-drivers {
    text-align: center;
}

.h2-drivers {
    margin-bottom: 40px;

    @include respond(xl) {
        opacity: 0;

        &.animate {
            animation: appear $main-animation-duration ease forwards;
        }
    }
}

.difference__text-wrapper {
    @include respond(lg) {
        width: 40%;
        margin: 0 auto;
    }

    @include respond(xl) {
        width: 60%;
    }
}

.difference__items-wrapper {
    max-width: 1325px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px;
    align-items: stretch;
    

    @include respond(md) {
        grid-template-columns: 1fr 1fr;
    }

    @include respond(lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

     @include respond(xl) {
        opacity: 0;

        &.animate {
            animation: slideUp $main-animation-duration ease-out forwards;
        }
    }
}

.difference__item {
    padding: 42px 20px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &:hover {
        background-image: linear-gradient(180deg, #d6d6d6 0%, #ffffff 99%);
    }

    .main-button, .secondary-button {
        font-size: 18px;
        width: 100%;
        max-width: 200px;
    }
}

.difference__item-heading {
    font-size: 20px;

    @include respond(md) {
        font-size: 24px;
    }

    @include respond(lg) {
        font-size: 26px;
    }
}

.difference__item-paragraph {
    font-size: 18px;
}

.difference__item-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: auto;
}

.item-blue {
    background-color: $mainBlueNew !important;

    &:hover {
        p, h3 {
            color: $mainBlack !important;
        }
    }

    p, h3 {
        color: $mainWhite !important;
    }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}