<section class="difference__container">
    <div class="difference__text-wrapper">
        <h2 #title class="h2-drivers">How We Make a Difference</h2>
        <p class="p-drivers mb-20">
            Superior customer service has always been one of our top priorities. All of our loads are treated with the highest care and precision as they are transported to their destinations.
        </p>
        <p class="p-drivers">
           Because of this, we've expanded to own over 500 trucks and a thousand trailers and to cooperate with some of the major clients in the US market.
        </p>
    </div>
    <div #itemsWrapper class="difference__items-wrapper">
        <div class="difference__item">
            <h3 class="difference__item-heading">
                Company Drivers
            </h3>
            <p class="difference__item-paragraph">
                We want professional drivers and we offer professional loads trough our steady relationships with customers.
            </p>
            <div class="difference__item-buttons-wrapper">
                <a class="main-button" href="drivers/solo">Solo</a>
                <a class="main-button" href="drivers/team">Team</a>
            </div>
        </div>
        <div class="difference__item item-blue">
            <h3 class="difference__item-heading">
                Rent Equipment
            </h3>
            <p class="difference__item-paragraph">
                Over 3000 miles per week for solo drivers and over 6000 miles per week for team drivers.
            </p>
            <div class="difference__item-buttons-wrapper">
                <a class="secondary-button" href="drivers/rent-equipment">Details</a>
            </div>
        </div>
        <div class="difference__item">
            <h3 class="difference__item-heading">
                Owner Operators
            </h3>
            <p class="difference__item-paragraph">
                Owning a truck isn’t enough to maximize profits; having the right crew on board is vital.
            </p>
            <div class="difference__item-buttons-wrapper">
                <a class="main-button" href="drivers/owner-operators">Details</a>
            </div>
        </div>
        <div class="difference__item">
            <h3 class="difference__item-heading">
                Dedicated Lanes
            </h3>
            <p class="difference__item-paragraph">
                If you want to get your job in order, you need to know your schedule. Contact us about our dedicated lanes.
            </p>
            <div class="difference__item-buttons-wrapper">
                <a class="main-button" href="drivers/dedicated-lanes">Details</a>
            </div>
        </div>
    </div>
</section>